<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>code with me</title>
</head>
<body>
<h1>Hi I am Dinbandhu Suman</h1>
<form action="/Analyze" method="get">
        <textarea name="text" style="margin: 0px; width: 1211px; height: 162px;"></textarea></body><br>
        <input type="checkbox" name="RemovePunch">Remove Punchctuation<br>
        <input type="checkbox" name="FullCap">Full Cap!!<br>
        <input type="checkbox" name="NewLineRemover">NewLineRemover<br>
        <input type="checkbox" name="CharacterCount">CharacterCount<br>

        <button type="submit">Analyze Text !!!!</button>
</form>
</html>